<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Selecting Text</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/justified-nav.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Making stuff!</h1>
      </div>
      <div class="row" id="text1">
        <div class="col-lg-4">
          <h2>Text</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum dolor eget interdum tincidunt. Donec augue odio, porta in dui vel, faucibus scelerisque dolor. Pellentesque nunc nisl, malesuada eget sem non, interdum dictum justo. Nunc pellentesque enim sit amet ultrices vulputate. Quisque tincidunt laoreet odio eget euismod. Vestibulum luctus tempor tortor, in auctor nibh vehicula quis. Vestibulum pharetra laoreet dolor sed maximus. Praesent venenatis molestie orci eu scelerisque. Donec vel tristique tellus.</p>
          <p><a class="btn btn-primary" href="#" id="btn1" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4" id="text2">
          <h2>Text</h2>
          <p>In id massa nisl. Proin sit amet sagittis ex. Proin congue dolor in neque feugiat, vel efficitur velit tristique. Nullam faucibus ac risus id elementum. Vestibulum feugiat, ligula id rhoncus pellentesque, enim neque euismod velit, eget mollis nisl justo vitae erat. Nulla ut sollicitudin neque. Duis sapien elit, dignissim eget dolor ac, pretium venenatis quam. Suspendisse metus sem, cursus ut sagittis a, auctor non enim. Cras vestibulum sed velit in ullamcorper. Proin elementum, magna sed lobortis feugiat, dui ligula finibus odio, id blandit sem felis non leo. Ut tempor odio leo, eget cursus odio laoreet pellentesque. Cras interdum luctus tortor, a tempor enim egestas vel. Curabitur faucibus consequat faucibus. Proin auctor velit quis ante viverra, ornare rutrum magna pellentesque.</p>
          <p><a class="btn btn-primary" href="#" id="btn2" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4" id="text">
          <p id="text3">Donec consequat vulputate vestibulum. Mauris a massa in urna pulvinar pulvinar nec a metus. Suspendisse fringilla mollis lacus, eu egestas i</p>
        </div>
      </div>
    </div>
    <script src=""></script>
  </body>
</html>